In [2]:
a = 3+55
a

58

In [3]:
age = 40 #This age variable stores age of person
age

40

In [4]:
#Multi-line comment ; using triple icomma
'''This is first line
This is second line
This is last line'''

'This is first line\nThis is second line\nThis is last line'

In [47]:
#Arithmetic Operators
a = 95
b = 85
print(a+b)
print(a-b)
print(a/b)
print(a%b)
print(a**b)
print(a*b)

180
10
1.1176470588235294
10
1277928187479933990465848803692722277644443761426897197331399161341090629742373914335718769740772464925096920903948343454080579205400791664715143269859254360198974609375
8075

In [6]:
#Comparison Operators
a,b

(95, 85)

In [8]:
a == b

False

In [10]:
print(a != b)
print(a>b)
a<b

True
True

False

In [11]:
#Logical Operators
x = 10
y = 25
x > y and x > 50

False

In [12]:
#Identity Operators
print(x is y)
x is not y

False

True

In [15]:
#Membership Operators
course = 'Data Science'
print('D' in course)
print('' in course)
print('d' in course)
'y' not in course

True
True
False

True

In [16]:
#Integer
pin_code = 110021
print(pin_code)
type(pin_code)

110021

int

In [17]:
#String
s = 'We are learning python'
s1 = "We are learning python"
s2 = '''We are learning python''' # If you want to give multi-line commond
print(s == s1)
print(s == s2)
print(s1 == s2)

True
True
True

In [18]:
s3 = 'It's a laptop'

SyntaxError: unterminated string literal (detected at line 1) (2799691787.py, line 1)

In [19]:
#To avoid such errors we can use single code inside and double code outside
s3 = "It's a laptop."
print(s3)

It's a laptop.

In [20]:
#Boolean
b = True
print(b)

True

In [22]:
#Typecasting : used to change the data type.
age = 60
print(type(age))
str(age)

<class 'int'>

'60'

In [23]:
age = str(age)
type(age)

str

In [25]:
num = 10
float(num)
# we can convert anything into string but not vice-versa.

10.0

In [26]:
#We can convert any type of values to bool type and the output for all will be true except 0
number = 10
print(bool(number))
zero = 0
print(bool(zero))

True
False

In [33]:
#Capitalize the string
s = 'we are learning python'
s.capitalize()

'We are learning python'

In [35]:
s.count('a')

2

In [37]:
#Startswith and endswith function

print(s.startswith('w'))
print(s.startswith('W'))

True
False

In [38]:
#Find : Index no starts with 0,1,2,....

print(s.find('w'))
s.find('learning')

0

7

In [42]:
#Replace
print(s.replace('we','They'))
s

They are learning python

'we are learning python'

In [44]:
#Join
'-'.join(s)

'w-e- -a-r-e- -l-e-a-r-n-i-n-g- -p-y-t-h-o-n'

In [45]:
#Split
s.split(' ')

['we', 'are', 'learning', 'python']

In [46]:
s4 = 'They,are,learning,python'

s4.split(',')

['They', 'are', 'learning', 'python']

In [1]:
#Tuple
t = ()
type(t)

tuple

In [3]:
t = ('STR', False, 10.0, 500)
t

('STR', False, 10.0, 500)

In [4]:
t.count(False)

1

In [5]:
t.index(10)

2

In [9]:
#Accessing elements from tuple
t[1:]

(False, 10.0, 500)

In [10]:
#elements in a dictionary
d = {}
type(d)

dict

In [11]:
d = {'Name':'ABC', 'Dept':'HR','Age':25, 'Location':'Pune',"ID":True}
d

{'Name': 'ABC', 'Dept': 'HR', 'Age': 25, 'Location': 'Pune', 'ID': True}

In [12]:
d.get('Name')

'ABC'

In [13]:
d.items()

dict_items([('Name', 'ABC'), ('Dept', 'HR'), ('Age', 25), ('Location', 'Pune'), ('ID', True)])

In [14]:
#Gives value in a tuple..can be changed as done further.
d.keys()

dict_keys(['Name', 'Dept', 'Age', 'Location', 'ID'])

In [15]:
list(d.keys())

['Name', 'Dept', 'Age', 'Location', 'ID']

In [17]:
#Adding values in dict
d.update({'Car':'Honda', 'Phone no':'7021134515'})
print(d)

{'Name': 'ABC', 'Dept': 'HR', 'Age': 25, 'Location': 'Pune', 'ID': True, 'Car': 'Honda', 'Phone no': '7021134515'}

In [18]:
#pop ; remove whole value when key is mentioned unlike previously.
d.pop('ID')
d

{'Name': 'ABC',
 'Dept': 'HR',
 'Age': 25,
 'Location': 'Pune',
 'Car': 'Honda',
 'Phone no': '7021134515'}

In [20]:
#Set 
s = {1,10,25,True,'str'}
type(s)

set

In [21]:
#Changes the order as sets are unordered and unindexed.
s

{1, 10, 25, 'str'}

In [24]:
a = {'apple','mango','cherry'}
b = {'microsoft','google','cherry'}
print(b.difference(a))
a.difference(b)

{'google', 'microsoft'}

{'apple', 'mango'}

In [23]:
a.union(b)

{'apple', 'cherry', 'google', 'mango', 'microsoft'}